.feature h3 {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}

.feature p {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: lighter;
}

.feature img {
  height: 100px;
  width: 100px;
}

